@import url('https://fonts.googleapis.com/css2?family=Lexend+Zetta:wght@100..900&display=swap');

*{
    font-family: "Lexend Zetta", sans-serif;
}

body{
  margin: 0;
}

h1{
  font-weight: bold;
  font-size: 48px;
  color: #3C3C3C;
}

h2{
  font-weight: bold;
  font-size: 36px;
  color: #3C3C3C;
}

h3{
  font-weight: bold;
  font-size: 24px;
  color: #3C3C3C;
}

p{
  font-size: 16px;
}

a{
  font-size: 16px;
}

li{
  list-style-type:none ;
}

/* Navbar 基本樣式 */
nav {
  width: 100%;
  height: 150px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: relative;
}

.navbar{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  /* margin-left: 8.3333%;
  margin-right: 8.3333%; */
}

.nav-logo {
  width: 215px;
  /* height: 40px; */
  /* margin-right: 17%; */
}

.nav-logo a img {
  width: 100%;
}

nav ul {
  width: 47.5%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style-type: none;
  padding: 0;
  margin: 0;
  position: relative;
  transition: transform 0.3s ease;
  margin-left: 17.08%;
}

nav li {
  margin-left: 5.21%;
  font-size: 16px;
}

a {
  height: 17px;
  text-decoration: none;
  color: inherit;
}

.language {
  margin-left: 52px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.language a {
  display: flex;
  align-items: center;
}

.language a img {
  margin-left: 2%;
  margin-right: 2%;
  width: 18px;
  display: none;
}

nav button {
  display: none;
}

/* 手機模式 */
@media (max-width: 1200px) {
  nav {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-around;
    position: relative;
  }

  .navbar{
    width: 83.33%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /* padding-left: 5%;
    padding-right: 5%; */
  }

  .nav-logo {
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 0;
  }  

  .nav-logo a{
    height: 30px;
  }

  .nav-logo img {
    width: 150px;
  }

  nav ul {
    width: 100%;
    /* height: 100%; */
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 79px;
    right: 0;
    background-color: #ffffff;
    padding: 0px;
    z-index:10;
    transform: translateY(-200%);
  }

  nav ul.active {
    width:100% ;
    display: flex;
    align-items: center;
    transform: translateY(0);
    padding: 0;
    padding-top: 10%;
    padding-bottom: 100%;
  }

  nav li {
    margin:6% 0;
  }

  .menu-toggle {
    display: block;
    background: none;
    border: none;
    color: #3C3C3C;
    /* font-size: 24px; */
    cursor: pointer;
  }

  .language {
    display: flex;
    align-items: center;
    margin-left: 0px;
    margin-top: 18%;
  }

  .language a img {
    width: 16px;
    display: block;
  }

  .cn {
    padding-right: 0px;
  }

  .menu-toggle {
    width: 30px;
    height: 30px;
    position: relative;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background: none;
    padding: 0;
}

.menu-toggle::before,
.menu-toggle::after {
    content: '';
    position: absolute;
    /* width: 100%; */
    height: 0.5px;
    background-color: #333333;
    transition: transform 0.3s ease, opacity 0.3s ease;
}

.menu-toggle::before {
    width: 100%;
    transform: translateY(-6px);
}

.menu-toggle::after {
    width: 70%;
    margin-left: 30%;
    transform: translateY(4px);
}

.menu-toggle.active::before {
    width: 100%;
    transform: rotate(45deg) translate(0px, 0px); 
}

.menu-toggle.active::after {
    width: 100%;
    margin-left: 0%;
    transform: rotate(-45deg) translate(0px, 0px);
}

.no-scroll {
  overflow: hidden;
}
}

/* Footer */
footer{
  width: 100%;
  background-color: #DDDCDC;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center
}

.footer-bar{
  width:83.33% ;
  display: flex;
  /* justify-content: space-between; */
  margin-top: 77px;
}

.footer-bar ul{
  width: 49.48%;
  display: flex;
  margin-left: 22.6%;
  padding: 0;
  justify-content: space-between;
}

.footer-bar ul li{
  margin-left: 5.68%;
}

.footer-text{
  width: 83.33%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 56px;
}

.footer-text p{
  width: 15.63%;
  display: flex;
  justify-content: space-between;
}

.footer-icon{
  display: flex;
  /* justify-content: space-between; */
}

.footer-icon ul{
  width: 512px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.footer-line{
  width: 78.13%;
  height: 1px;
  background-color: #3B322E;
  margin-top: 84px;
  margin-bottom: 64px;
}

.footer-name{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-name h6{
  color: #3B322E;
  font-size: 14px;
  font-weight: bold;
  margin: 0%;
}

.footer-name p {
  color: #3B322E;
  font-size: 14px;
  font-weight: lighter;
  margin-bottom: 76px;
}

@media (max-width: 1200px) {
  .footer-bar{
    width:83.33% ;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
  }

  .footer-bar ul{
    width: 100%;
    display: flex;
    margin-left:0%;
    margin-top: 10%;
    padding: 0;
    justify-content: center;
  } 

  .footer-bar ul li{
    margin-left: 2%;
    margin-right: 2%;
  }

  .footer-text{
    width: 83.33%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
  }

  .footer-text p{
    width: 100%;
    display: flex;
    text-align: center;
    justify-content: center;
  }

  .footer-icon{
    width: 50%;
    display: flex;
    /* justify-content: space-between; */
  }

  .footer-icon ul{
    width: 100%;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .footer-icon ul img{
    width: 24px;
  }

  .footer-line{
    width: 78.13%;
    height: 1px;
    background-color: #3B322E;
    margin-top: 20px;
    margin-bottom: 15px;
  }

  .footer-name h6{
    color: #3B322E;
    font-size: 0.5rem;
    font-weight: bold;
    margin: 0%;
  }
  
  .footer-name p {
    color: #37302d;
    font-size: 0.5rem;
    font-weight: lighter;
    margin-bottom: 50px;
  }
}

@media(max-width:650px){
  .footer-bar ul li a{
    font-size: 0.5rem;
  }
}

/* Homepage */
.home-banner{
  width: 100%;
  height: 800px;
}

.home-banner img{
  width: 100%;
}

/* .home-banner-text{
  width: 692px;
  position: absolute;
  top: 657px;
  right: 85px;
} */

.contact-us-btn{
  position: absolute;
  top: 58%;
  /* z-index: 10; */
  
}

.contact-us-btn a{
  height: 100%;
  display: flex;
  /* justify-content: center; */
  align-items: center;
}

.contact-us-text img{
  width: 14px;
  margin-left: 35px;
}

.contact-us-text{
  margin-left: 100px;
  position: absolute;
  font-size: 24px;
}

@media(max-width:1200px){
  .contact-us-btn{
    width: 40%;
  }

  .contact-us-btn{
    position: absolute;
    top: 30%;
    /* z-index: 10; */
    
  }
  
  .contact-us-btn a{
    display: flex;
    /* justify-content: center; */
    align-items: center;
  }
  
  .contact-us-text img{
    width: 3%;
    margin-left: 10%;
  }
  
  .contact-us-text{
    width: 100%;
    display: flex;
    align-items: center;
    margin-left: 10%;
    /* position: absolute; */
    font-size: 18px;
  }

  /* .home-banner-text{
    width: 40%;
    position: absolute;
    top: 28%;
    right: 10px;
  } */

  /* .home-banner-text h2{
    font-size: 0.5rem;
  } */
}

@media(max-width:765px){
  .contact-us-btn{
    width: 40%;
  }

  .contact-us-btn{
    /* position: absolute; */
    top: 23%;
    /* z-index: 10; */
    
  }
  
  .contact-us-btn a{
    display: flex;
    /* justify-content: center; */
    align-items: center;
  }
  
  .contact-us-text img{
    width: 3%;
    margin-left: 10%;
  }
  
  .contact-us-text{
    width: 100%;
    display: flex;
    align-items: center;
    margin-left: 10%;
    /* position: absolute; */
    font-size: 0.5rem;
  }

  /* .home-banner-text{
    width: 40%;
    position: absolute;
    top: 26%;
    right: 10px;
  } */

  /* .home-banner-text h2{
    font-size: 0.5rem;
  } */
}

/* Card */
.box-1{
  /* width: 100%; */
  height: 600px;
  margin-top: 32px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 8.59%;
  display:flex ;
  justify-content: space-between;
}

.box-2{
  width: 600px;
  height: 100%;
  background-color: #D9D9D9;
  cursor: pointer;
}

.box-3 {
  height: 450px;
  overflow: hidden;
}

.box-3 img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.box-4 {
  /* width: 540px; */
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  margin-top: 5%;
}

.box-4 h3{
  /* margin-left: 30%; */
  font-weight: 300;
}

.box-4 img{
  width: 14px;
  margin-left: 20%;
  margin-right: 20%;
}

@media(max-width:1200px){
  .box-1{
    height: 1900px;
    margin-top: 32px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 0px;
    display:flex ;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
  }

  .box-2{
    width: 100%;
    height: 100%;
    background-color: #D9D9D9;
    cursor: pointer;
    margin-bottom: 20px;
  }

  .box-4 {
    /* width: 90%; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
  }

  .box-4 img{
    width: 14px;
    margin-left: 20%;
    margin-right: 0%;
  }
}

@media(max-width:600px){
  .box-1{
    height: 1000px;
    margin-top: 32px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 0px;
    display:flex ;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
  }

  .box-2{
    width: 100%;
    height: 100%;
    background-color: #D9D9D9;
    cursor: pointer;
    margin-bottom: 20px;
  }

  .box-3 {
    height: 200px;
    overflow: hidden;
  }
  
  .box-3 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
}

/* Content */
.content{
  width: 100%;
  height: 441px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin-bottom: 120px;
}

.content-1{
  width: 83.3333%;
  height: 441px;
  display: flex;
  justify-content: space-between;
}

.content-2{
  width: 785px;
  margin-right: 32px;
  display: flex;
  flex-direction: column;
}

.content-2 a{
  width: 250px;
  height: 50px;
  font-size: 20px;
  background-color: #fff;
  border: 1px solid #000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content-2 h2{
  margin: 0;
  margin-bottom: 50px;
}

.content-2 p{
  font-size: 1rem;
  height: 225px;
  margin: 0;
  line-height: 50px;
  margin-bottom: 50px;
}

.content-2 img{
  width: 12px;
  margin-left: 30px;
}

.content-3{
  width: 785px;
  overflow: hidden;
  position: relative;
}

.content-3 img{
  height: 100%;
}

.content-color{
  width: 100%;
  height: 100px;
  background-color: #FF9900;
  position: absolute;
  z-index: -10;
}

.content-4{
  width:100% ;
  height: 884px;
  display: flex;
  justify-content: center;
}

.content-5{
  width: 83.3333%;
  height: 687px;
  margin-top: 81px;
  display: flex;
  flex-direction: column;
}

.content-map{
  width: 100%;
  height: 600px;
}

.content-next-1{
  width: 100%;
  position: absolute;
  display: flex;
  justify-content: flex-end;
}

.content-next-2{
  width: 102%;
  height:950px;
  position: absolute;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  z-index: -99;
}


/* Page404 */
.banner-404{
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner-404 img{
  width: 100%;
}

.banner-404 h1{
  color: #FFF;
  position: absolute;
}

.banner-404-text{
  width: 648px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  margin-top: 300px;
  margin-bottom: 300px;
}

.banner-404-text h3{
  line-height: 50px;
  text-align: center;
}

.banner-404-text a{
  width: 298px;
  height: 50px;
  background-color: #FF9900;
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner-404-text a img{
  width: 12px;
  margin-left: 50px;
}

@media(max-width:1200px){
  .home-banner{
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
}
